# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
venv/

# Django
staticfiles/
media/
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Keep screenshot folder but ignore large temp files
docs/screenshots/*.tmp
